/*reset*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*utility classes*/
.py-1{
	padding: 10px 0;
}
.py-2{
	padding: 20px 0;
}
.py-3{
	padding: 30px 0;
}


.container{
	margin: auto;
	max-width: 1100px;
	overflow: auto;
	padding: 0 20px;
}

.text-primary{
	color: #a0f78a!important;
}

.lead{
	font-size: 20px;
}

.btn{
	display: inline-block;
	font-size: 18px;
	color: white;
	background: #333;
	padding: 13px 20px;
	border: none;
	cursor: pointer;
}

.btn:hover{
	color: #333;
	background: #a0f78a;
}

.btn-light{
	background: #f4f4f4;
	color:#333;
}

.bg-dark{
	background: #333;
	color: #fff;
}

.bg-light{
	background: #f4f4f4;
	color: #333;
}

.bg-primary{
	color: : #333;
	background:  #a0f78a;
}

.l-heading{
	font-size: 40px;
}

/*Main style*/

html,body{
	font-family: sans-serif; 
	line-height: 1.7em;
}

a{
	color: #333;
	text-decoration: none;
}

h1, h2, h3{
	padding-bottom: 20px;
}

p{
	margin: 10px 0;
}

#navbar{
	background: #333;
	color: #fff;
	overflow: auto;
}

#navbar a{
	color: #fff;
}

#navbar h1{
	float: left;
	padding-top: 20px;
}

#navbar ul{
	list-style: none;
	float: right;
}

#navbar li{
	float: left;
}

#navbar li a{
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar li a:hover, .current{
	background: #444;
	color: #a0f78a!important;
}

/*showcase*/
#showcase{
	background: url('../img/pexels-thomas-hobiger-3403293.jpg') no-repeat center center/cover;
	height: 600px
}

#showcase .showcase-content{
	text-align: center;
    color: white;
    font-size: 1em;
    padding-top: 200px;
}

#showcase .showcase-content h1{
	font-size: 60px;
	line-height: 1.2em;
}

#showcase .showcase-content p{
	padding-bottom: 20px;
	line-height: 1.7em;
}


/*Home-Info*/

#home-info{
	height: 450px;
}

#home-info .info-img{
	float: left;
	width: 50%;
	background: url('../img/pexels-sourav-mishra-2317519.jpg') no-repeat center center/cover; 
	min-height: 100%
}

#home-info .info-content{
	float: right;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
	overflow: hidden;
}

#home-info .info-content p{
	padding-bottom: 30px;
}


/*feature*/

.box{
	float: left;
	width: 33.3%;
	padding: 50px;
	text-align: center;
}

.box i{
	margin-bottom: 10px;
}

.clr{
	clear: both;
}

/*about info*/
#about-sec .info-right{ float: right; width: 50%; min-height: 100% }
#about-sec .info-right img{ 
	width: 200px;
    display: block;
    height: 200px;
    /* margin-top: 53px; */
    margin: auto;
    border-radius: 50%; }

#about-sec .info-left{ float: left; min-height: 100%; width: 50%; }

#about-sec .container{ padding: 10px 0; }

/*testimonials*/

#testimonials{
	height: 600px;
	background: url('../img/ethan-cull-gotBhv9IKro-unsplash.jpg') no-repeat center center/cover;
	padding-top: 100px;
}

#testimonials h2{
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
}

#testimonials .testimonial{
	padding: 20px;
	margin-bottom: 40px;
	opacity: 0.9;
	border-radius: 5px;
}


#testimonials .testimonial img{
	width: 100px;
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}


/*contact form*/

#contact .form-group{
	margin-bottom: 20px;
}

#contact label{
	display: block;
	margin-bottom: 5px;
}

#contact input, #contact textarea{
	width: 100%;
	padding: 10px;
	border: 1px #ddd solid;	
}

 #contact textarea{
 	height: 200px;
 }

 #contact input:focus, #contact textarea:focus{
 	outline: none;
 	border-color:  #a0f78a
 }



/*footer*/
#main-footer{
	padding: 20px;
	text-align: center;
	color: #fff;
	background: #333;
	font-size: 20px;
}